body{
    background: white;
}
.box{
    height: 90%;
    width: 70%;
    border-radius: 50%;
    box-shadow: 0.3px 0.3px 1.5px 1.5px;
    color: lightgrey;
    max-width: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.title{
    color: #ff4428;
    text-align: center;
    margin-top: 5vw;
    font-size: 3vw;
    font-family: 'Song Myung', serif;
    font-weight: bold;
}
.button{
    border-radius: 6px;
    width: 2.2vw;
    height: 2.2vw;
    font-size: 1.2vw;
    font-family: 'Song Myung', serif;
    background-color: #ff4428;
    color: white;
}
.inline{
    display: inline;
    margin-left: 2vw;
}
.break{
    margin-left: 20%;
    font-size: 1.5vw;
    margin-right: 6vw;
    margin-top: 2vw;
    color: darkslategray;
    text-align: left;
    position: absolute;
    font-family: 'Song Myung', serif;
}
.session{
    display: inline-block;
    margin-left: 38vw;
    color: darkslategray;
    font-size: 1.5vw;
    margin-top: 2vw;
    position: absolute;
    font-family: 'Song Myung', serif;
}
.start-timer{
    border-radius: 12px;
    text-align: center;
    align-content: center;
    position:absolute;
    margin-left:33vw;
    bottom:2vw;
    width:5vw;
    height:3vw;
    background-color:#ff4428;
    color: white;
    font-size: 1.5vw;
    font-family: 'Song Myung', serif;
}
.start-timer:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#countdown-timer{
    background-color:#ff4428;
    border: none;
    color: white;
    padding: 4vw 6vw;
    text-decoration: none;
    font-size: 3vw;
    margin: 3vw 2vw;
    border-radius: 50%;
    text-align: center;
    box-align: middle;
    margin-left:26vw;
    margin-right: 26vw;
    margin-top: 8vw;
    font-family: 'Anton', sans-serif;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
@media only screen and (max-width:800px) {
    /* For tablets: */
    .box {
      width: 90%;
      padding: 0;
    }
    .title {
      font-size: 5vw;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .box{
      width: 95%;
    }
    .title {
        font-size: 7vw;
        margin-top: 16vw;
      }
      .button{
        border-radius: 4px;
        width: 4.8vw;
        height: 4.8vw;
        font-size: 3vw;
      }
      .break{
        margin-left: 25%;
        font-size: 5vw;
        margin-top: 2vw;
      }
      .session{
        margin-left: 22%;
        font-size: 5vw;
        margin-top: 10vw;
      }
      .start-timer{
        border-radius: 6px;
        text-align: center;
        align-content: center;
        position:absolute;
        margin-left:42vw;
        bottom:5vw;
        width:14vw;
        height:9vw;
        font-size: 5vw;
      }
      #countdown-timer{
        padding: 8vw 10vw;
        font-size: 8vw;
        margin: 7vw 6vw;
        border-radius: 50%;
        text-align: center;
        box-align: middle;
        margin-left:26vw;
        margin-right: 26vw;
        margin-top: 36vw;
      }
}